body {
    background-image: url(../img/45degreee_fabric.png);
  background-color: white;
  color: white;  
  font-size: 21px;
}
p{
    color: black;
}
h1{
    font-size:  70px;
    color: pink;
}
div {
    background: white;
    width: 500px;
}
span{
    color: blue;
    font-size: large;
}
.top-section{
    background: green;
}
.bottom-section{
    background: blue;
}
#bold-text{
    /*background: chocolate;*/
    font-weight:bold;
}
.box{
    background-image: url(../img/OIP.jfif);
    
    width: 300px;
    margin: 100px;
    border: 2px solid green;
    border-left: 2px solid red;
    padding: 1px;
    background-size: cover;
    background-position: center ;
}
.box2{
     background-color: pink;
    width: 100px;
    margin: 100px;
    border: 2px solid green;
    padding: 1px;
}